[submodule "Plugins/UTags"]
	path = Plugins/UTags
	url = https://github.com/robcog-iai/UTags.git
	branch = master
[submodule "Plugins/USemLog"]
	path = Plugins/USemLog
	url = https://github.com/robcog-iai/USemLog.git
	branch = master
[submodule "Plugins/UPhysicsBasedMC"]
	path = Plugins/UPhysicsBasedMC
	url = https://github.com/robcog-iai/UPhysicsBasedMC.git
	branch = master
[submodule "Plugins/UPIDController"]
	path = Plugins/UPIDController
	url = https://github.com/robcog-iai/UPIDController.git
	branch = master
[submodule "Plugins/libmongo"]
	path = Plugins/libmongo
	url = https://github.com/robcog-iai/libmongo.git
	branch = master
[submodule "Plugins/UROSBridge"]
	path = Plugins/UROSBridge
	url = https://github.com/robcog-iai/UROSBridge.git
	branch = master
